@import "tailwindcss";

/* ------------------------------------------------------- */
/* COMPONENT UTILITIES (Tailwind 4 richiede @layer) */
/* ------------------------------------------------------- */

@layer components {
  .box {
    @apply rounded-none bg-white text-black border border-black hover:border-black focus:rounded-none active:rounded-none;
  }

  .box-hover {
    @apply rounded-none bg-white hover:bg-black text-black hover:text-white border border-black hover:border-black focus:rounded-none active:rounded-none;
  }

  .negative-box {
    @apply rounded-none bg-black text-white border border-black hover:border-black focus:rounded-none active:rounded-none;
  }

  .negative-box-hover {
    @apply rounded-none bg-black hover:bg-white text-white hover:text-black border border-black hover:border-black focus:rounded-none active:rounded-none;
  }

  .text-box {
    @apply bg-white text-black;
  }

  .text-box-hover {
    @apply bg-white hover:bg-black text-black hover:text-white;
  }

  .negative-text-box {
    @apply bg-black text-white;
  }

  .border-def {
    @apply border border-black;
  }

  .border-t-def {
    @apply border-t border-black;
  }

  .border-b-def {
    @apply border-b border-black;
  }

  .border-x-def {
    @apply border-t border-b border-black;
  }

  .border-y-def {
    @apply border-l border-r border-black;
  }
}

/* ------------------------------------------------------- */
/* BASE & RESET */
/* ------------------------------------------------------- */

#root {
  max-width: 100vw;
}

button {
  padding: 0;
  cursor: pointer;
}

/* ------------------------------------------------------- */
/* MAIN LAYOUT */
/* ------------------------------------------------------- */

.main-board {
  @apply p-4 pt-24 md:p-8 md:pr-18 flex flex-col md:flex-row gap-4 overflow-x-auto min-h-[100dvh] min-w-screen;
}

/* ------------------------------------------------------- */
/* COLUMN */
/* ------------------------------------------------------- */

.column {
  @apply p-4 md:w-72 flex-shrink-0 flex flex-col transition-all;
}

/* .column--enlighten {
  @apply border-2 border-color-x bg-color-x;
} */

.column__header__label {
  @apply leading-[1] text-[8px];
}

.column__header__title {
  @apply px-4 my-2 text-left w-fit;
}

.column__header__button {
  @apply p-2;
}

.column__content {
  @apply flex md:flex-col overflow-x-auto h-full gap-4 p-3 pt-4 mb-8;
  --s: 20px;
  --c: black;
  /*idk if I'll manage the theme change. */

  border: 1.5px solid var(--c);
  border-radius: 0px;
  clip-path: polygon(0 0,
      calc(100% - var(--s)) 0,
      100% var(--s),
      100% 100%,
      0 100%);
  background: linear-gradient(-135deg, var(--c) calc(0.707*var(--s) + 1px), #0000 0) border-box;
  background-color: white;
}

.column__add-task {
  @apply flex justify-between;
}

.main-board__add-column {
  @apply p-0 flex flex-col;
}

.main-board__add-column__label {
  @apply md:[writing-mode:sideways-lr] md:[text-orientation:mixed] md:pt-4 pr-1;
}

/* ------------------------------------------------------- */
/* TASK CARD */
/* ------------------------------------------------------- */

.task-card {
  @apply flex max-h-[70px] min-w-[90%] max-w-[90%] md:min-w-full md:max-w-full;
}

.task-card__paragraph {
  @apply overflow-hidden px-2 text-left text-base/5 flex-grow;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.task-card__button-group {
  @apply flex flex-col self-end;
}

.task-card__button-group__button {
  @apply p-2;
}

/* ------------------------------------------------------- */
/* MODAL */
/* ------------------------------------------------------- */

.modal__bg {
  @apply bg-black/50;
}

.modal__title {
  @apply max-w-fit bg-black text-white px-2 py-1 mb-4;
}

.modal__close-button {
  @apply p-1 text-lg border-t-0 border-r-0 font-semibold;
}

.modal__button {
  @apply px-2 py-1;
}

.modal__text-input {
  @apply w-full px-2 py-1 outline-none;
}

/* ------------------------------------------------------- */
/* SELECT COMPONENT */
/* ------------------------------------------------------- */

.custom-select,
.custom-select__option {
  @apply relative px-2 py-1 text-left overflow-hidden min-w-[130px] max-w-[130px];
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.custom-select__dropdown {
  @apply absolute top-[100%] left-0;
}

/* ------------------------------------------------------- */
/* FRAME */
/* ------------------------------------------------------- */

.frame-wrapper {
  @apply min-w-[200px] max-h-[200px];
}

/* ------------------------------------------------------- */
/* DRAWER */
/* ------------------------------------------------------- */

.drawer {
  @apply h-full w-full md:w-[400px] 2xl:w-[500px] p-4 md:p-8 fixed top-0 right-0 z-40 md:pl-0 flex bg-white border md:border-y-0 border-black transition-transform duration-300 ease-in-out;
}